:root { 
    --senai-blue: #005ca9; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Trava o scroll no Desktop */
@media (min-width: 768px) {
    body {
        overflow: hidden;
    }
}

#current-ticket {
    line-height: 0.9;
    letter-spacing: -0.02em;
}

#current-name {
    word-wrap: break-word;
    max-width: 90%;
}

/* Efeito de Brilho/Flash Profissional */
.flash-effect {
    animation: flash-animation 0.8s ease-in-out infinite;
}

@keyframes flash-animation {
    0%, 100% { 
        opacity: 1; 
        transform: scale(1); 
        box-shadow: 0 0 0px rgba(255,255,255,0);
    }
    50% { 
        opacity: 0.9; 
        transform: scale(1.02); 
        filter: brightness(1.4); /* Faz o azul brilhar */
        box-shadow: 0 0 50px rgba(255,255,255,0.5); /* Brilho externo branco */
    }
}